In [83]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [94]:
import os
import glob
import torch
import numpy as np
from collections import defaultdict
import pandas as pd

In [95]:
def count_parameters(state_dict):
    return sum(p.numel() for k, p in state_dict.items())

In [96]:
exp_root = "output/mpii/"

In [92]:
experiment_paths = glob.glob(f"{exp_root}/*")
df_dict = defaultdict(list)
for exp_path in experiment_paths:
  exp_name = os.path.basename(exp_path)
  ckpt_path = os.path.join(exp_path, "checkpoint.pth.tar")
  if not os.path.exists(ckpt_path):
    continue
  state_dict = torch.load(ckpt_path)["state_dict"]
  n_params = count_parameters(state_dict)
  df_dict["exp_name"].append(exp_name)
  df_dict["n_params"].append(f"{n_params:,}")
param_df = pd.DataFrame(df_dict)

In [93]:
param_df

                                  exp_name    n_params
0    hourglass_x8__TD_0.5__distill__TD_0.0   4,601,698
1    hourglass_x8__TD_0.5__distill__TD_0.5   4,601,698
2             hourglass_x4__TD_1.0__double  13,194,658
3    hourglass_x4__TD_0.0__distill__TD_1.0   2,350,550
4    hourglass_x4__TD_0.5__distill__TD_1.0   2,350,550
5                     hourglass_x8__TD_0.5   4,601,698
6   hourglass_x8__TD_0.25__distill__TD_0.0   4,601,698
7   hourglass_x8__TD_0.25__distill__TD_1.0   4,601,698
8    hourglass_x8__TD_0.0__distill__TD_0.5   4,601,698
9    hourglass_x8__TD_0.5__distill__TD_1.0   4,601,698
10   hourglass_x8__TD_0.9__distill__TD_0.5   4,601,698
11   hourglass_x4__TD_1.0__distill__TD_1.0   2,350,550
12   hourglass_x8__TD_0.9__distill__TD_0.0   4,601,698
13   hourglass_x8__TD_1.0__distill__TD_0.0   4,601,698
14   hourglass_x8__TD_0.9__distill__TD_1.0   4,601,698
15   hourglass_x8__TD_0.0__distill__TD_0.0   4,601,698
16   hourglass_x8__TD_1.0__distill__TD_1.0   4,601,698
17                    hourglass_x8__TD_0.0   4,601,698
18   hourglass_x8__TD_0.0__distill__TD_1.0   4,601,698
19            hourglass_x4__TD_0.5__double  13,194,658
20  hourglass_x8__TD_0.25__distill__TD_0.5   4,601,698
21           hourglass_x4__TD_0.25__double  13,194,658
22   hourglass_x8__TD_1.0__distill__TD_0.5   4,601,698
23                    hourglass_x8__TD_1.0   4,601,698
24            hourglass_x4__TD_0.9__double  13,194,658
25            hourglass_x4__TD_0.0__double  13,194,658

In [79]:
root = f"/hdd/mliuzzolino/TDPoseEstimation/results/mpii"
all_result_paths = np.sort(glob.glob(f"{root}/*/*"))

In [80]:
df_dict = defaultdict(list)
for path in all_result_paths:
  if "double" not in path:
    continue
  exp_name = os.path.basename(os.path.dirname(path))
  data = np.load(path)
  df_dict["exp_name"].append(exp_name)
  df_dict["val"].append(data[-1])
result_df = pd.DataFrame(df_dict)

In [81]:
result_df

Empty DataFrame
Columns: []
Index: []

In [46]:
data

array([32.86468126, 55.54155658, 74.12226766, 76.31162932, 75.92346403,
       76.0319924 , 76.02084679, 75.2219088 ])